# Ep:1 Kernel recover : การกู้คืนระบบ
#### เนื้อเรื่อง
ยินดีตอนรับ commander กลับมาจากการเดินทางอันยาวนานจากการต่อสู้ที่ Frankfurt 
ด้วยความสามารถของคุณทำให้เอาชนะศัตรูได้ แต่เสียกำลังรบไปมากมาย ทำให้เกิดความเสียหายที่มากมาย

**ทำให้พวกเราต้องการวิเคราะห์ข้อมูลความเสียหายเพื่อประเมินการขอสั่งซื้อ T-Doll เพิ่ม ในการสู้ครั้งต่อไป**

**โดยใช้ numpy, pandas ในการวิเคราะห์ข้อมูล**

#### เนื้อหา
- python : List Comprehension
- numpy : Array, dtype,  zeros, one, arange, argmax, shape, reshape, nan
- pandas : DataFrame, Series, head/tail, describe, filter, value_counts, groupby, sort_values, loc, iloc, isin, merge, concat,

#### ข้อมูลที่ใช้
- ข้อมูลการสูญเสียทั้งหมดของทีม commander ในการต่อสู้ที่ Frankfurt : [T-dolls list](https://raw.githubusercontent.com/ponmak/stat-practice/refs/heads/main/t_dolls.csv) 

#### column ของข้อมูล
- **DollId** : รหัสของ T-Doll ที่เสียหาย
- **Survived** : สถานะของ T-Doll ว่ารอดชีวิตหรือไม่ (1 = รอดชีวิต, 0 = ไม่รอดชีวิต)
- **Type** : ประเภทของ T-Doll (HG = Handgun, SMG = Submachine gun , AR = Assault Rifle, RF = Rifle, MG = Machine gun, SG = Shotgun)
- **Name** : ชื่อของ T-Doll
- **Sex** : เพศของ T-Doll (Female = หญิง, Male = ชาย)
- **Level** : ระดับของ T-Doll (1-100)
- **Links** : ลิ้งค์ของ T-Doll 
- **Favor** : ความสนใจของ T-Doll (0-100)
- **Stats** : สถิติความสามารถของ T-Doll ที่เสียหาย (HP, Firepower, Accuracy)
- **SkillLevel** : ระดับของสกิลของ T-Doll ที่เสียหาย (1-10)
- **Embarked** : สถานะการเดินทางของ T-Doll ที่เสียหาย (Base, Frankfurt)

## Turn 00 : intialize the game

In [8]:
# install lib: numpy, pandas
%pip install numpy pandas wget

# download the data
!python -m wget  https://raw.githubusercontent.com/ponmak/stat-practice/refs/heads/main/t_dolls.csv

Requirement already satisfied: numpy in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (2.1.3)
Requirement already satisfied: pandas in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: wget in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Saved under t_dolls (1).csv

## Turn 01 : recover the kernel

T-doll นั้นใช้งานระบบปฏิบัติการที่เรียกว่า kernel ในการทำงาน และเมื่อมีการสูญเสียของ T-doll ทำให้ kernel นั้นเสียหายไปด้วย ทำให้เราต้องทำการกู้คืน kernel ของ T-doll ที่เสียหาย

โดย kernel จะอยู่ในรูป numpy array ที่มีขนาด 3x4 และมีค่าที่เป็นเลขจำนวนเต็ม และมีค่าที่หายไปเป็น nan

**ต้องให้ผู้การซ่อม kernel ที่ได้รับมา**
- **เป็น numpy array ที่มีขนาด 3x4 : reshape**
- **มีค่าที่เป็นเลขจำนวนเต็ม**
- **เปลี่ยนค่า nan เป็น np.nan**

In [12]:
import numpy as np
recover_kernel = [[0.1, 0.2, 'nan'], 
                  [0.4, 0.5, 0.6],  
                  [0.8, 'nan', 1.0],
                  ['nan', 1.2, 1.3,]]

In [40]:
# your code here

# eval nan to np.nan
recover_kernel = 

# create numpy array from the data


# reshape the numpy array

array([[0.1, 0.2, nan, 0.4],
       [0.5, 0.6, 0.8, nan],
       [1. , nan, 1.2, 1.3]])

จากนั้นให้เปลี่ยนแค่ nan เป็นค่า mean ของแต่ละ column ของ kernel ที่ได้รับมา

สิ่งที่ใช้
- nanmean
- where
- isnan

In [41]:
# your code here

# find mean


# change nan to mean

array([[0.1       , 0.2       , 0.67777778, 0.4       ],
       [0.5       , 0.6       , 0.8       , 0.67777778],
       [1.        , 0.67777778, 1.2       , 1.3       ]])

หลังจากตั้งต้องสร้าง kernel อีกชุดที่มีขนาด 3x12 จำนวนเต็มบวก

ชั้นที่ 1 เป็นเลขคู่ เรียงลำดับกัน โดนใช้ np.arange

ชั้นที่ 2 เป็นเลขคี่ เรียงลำดับกัน โดนใช้ np.arange

ชั้นที่ 3 เป็นเลข 1 ทั้งหมด

**การใช้ arange หรือ ones ต้องเอาไปใส่ numpy array สะก่อน**

**ไม่ออกสอบแต่แนะนำให้รู้จัก : ใช้ np.stack([arr1, arr2, arr3]) ในการรวม kernel ทั้ง 3 ชุดเข้าด้วยกัน**

In [39]:
# your code here

# create array item


# create numpy array from the data


# stack array

(3, 12)

## Turn 02 : war analysis

เมื่อเราได้ kernel ที่สมบูรณ์แล้ว เราต้องการทราบว่าเราสูญเสีย T-doll ในการต่อสู้ที่ Frankfurt ไปเท่าไหร่ และเราต้องการทราบว่า T-doll ที่สูญเสียที่ไหน

In [45]:
# dataset showcase

# load the data
import pandas as pd
df_dolls = pd.read_csv('t_dolls.csv')

df_dolls.head()

,DollId,Survived,Type,Name,Sex,Level,Links,Favor,Stats,SkillLevel,Embarked
0,1,1,hg,M1873,Female,0,5,0,400/36/49,5,Frankfurt
1,2,1,hg,M1911,Female,10,3,10,365/27/50,7,Frankfurt
2,3,1,hg,M9,Female,20,3,20,380/29/56,1,Frankfurt
3,4,0,hg,Python,Female,30,1,30,350/40/81,10,Base
4,5,0,hg,M1895,Female,40,2,40,350/32/46,7,Base

ก่อนอื่นผู้การต้องเปลี่ยน level ที่เป็น 0 เป็น 1 สะก่อน

In [47]:
# your code here

Level
1      42
10     42
20     42
30     42
40     42
50     42
60     42
70     42
80     42
90     42
100    41
Name: count, dtype: int64

ในแต่ละประเภท Type มีจำนวน T-doll ที่รอดชีวิตและเสียชีวิตอย่างละเท่าไหร่ ประเภทใดมีจำนวนผู้เสียชีวิตมากที่สุด
เรียงลำดับจาก มากไปน้อย 

- crosstab
- argmax & index
- sort_values

In [53]:
# your code here

Survived   0   1
Type
ar        52  49
rf        49  40
smg       47  41
hg        44  41
sg        25  21
mg        22  30

จงหาค่าเฉลี่ยของ level ของแต่ละ type ที่รอดชีวิตและเสียชีวิต

- groupby
- mean
- filter

In [61]:
# your code here

pandas.core.frame.DataFrame

อธิบายระหว่าง series กับ dataframe

- Series : ข้อมูลที่เก็บใน column ของ dataframe เช่นการใช้ filter ในการเข้าถึงข้อมูล
- DataFrame : ข้อมูลที่เก็บในตาราง
- การเข้าถึงข้อมูลใน series ใช้ . และชื่อ column
- การเข้าถึงข้อมูลใน dataframe ใช้ .loc หรือ .iloc
- การเข้าถึงข้อมูลใน dataframe ใช้ .iloc ใช้ index ของ row และ column
- การเข้าถึงข้อมูลใน dataframe ใช้ .loc ใช้ชื่อ index ของ row และ column
- การใช้ .loc และ .iloc จะออกมาเป็น series หากเรียก column เดียว

The A:B used in loc and iloc may have different meaning.
For loc, A and B are included.
For iloc, A is included, B is excluded.

## Turn 03 : order the new T-doll